<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login-css/login.css}">
</head>



<body>

<div th:if="${error}" class="notification error-notification alert-error" role="alert">
    <span th:text="${error}"></span>
</div>

<div th:if="${param.logout}" class="notification success-notification alert-success" role="alert">
    Sesión cerrada exitosamente
</div>

<div class="login-container">
    <!-- Mensajes de error y éxito -->
    <form th:action="@{/login}" th:object="${loginDTO}" method="post" class="form">
        <div class="center logo">Magenta</div>
        <h1>Login</h1>

        <div class="form-group">
            <label for="username">Nombre</label>
            <input type="text"
                   id="username"
                   th:field="*{username}"
                   autocomplete="off"
                   required>
        </div>

        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password"
                   id="password"
                   th:field="*{password}"
                   required>
        </div>

        <button type="submit" class="center button-design">Ingresar</button>
    </form>

    <a href="/register" class="register-link">¿No tienes cuenta?</a>


    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            const notifications = document.querySelectorAll('.notification');

            notifications.forEach(notification => {
                if (notification.offsetHeight > 0) { // Check if notification is visible
                    // Add show class to trigger animation
                    notification.classList.add('show');

                    // Remove notification after 5 seconds
                    setTimeout(() => {
                        notification.classList.remove('show');

                        setTimeout(() => {
                            notification.style.display = 'none';
                        }, 500); // Wait for exit animation to complete
                    }, 5000);
                }
            });
        });
    </script>

</div>
</body>
</html>